.button-icon#exit {
    background-image: url('project://database/Assets/Images/Icons/SolidDoorOpen.png');
    -unity-background-image-tint-color: rgb(233, 233, 233);
}

.button-icon#settings {
    background-image: url('project://database/Assets/Images/Icons/SolidGear.png');
    -unity-background-image-tint-color: rgb(35, 35, 35);
}

.button-icon#restart {
    background-image: url('project://database/Assets/Images/Icons/SolidArrowRotateLeft.png');
    -unity-background-image-tint-color: rgb(35, 35, 35);
}
